{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <div class="logo">
        <img src="{% static 'imagenes/pagina_principal/logo.png' %}" alt="Logo" class="logo-image">
    </div>
    <div class="search-bar">
        <form method="GET" action="{% url 'comercios' %}">
            <input type="text" name="q" placeholder="Buscar comercios..." class="search-input">
            <button type="submit" class="search-btn">
                </button>
        </form>
    </div>
    <div class="top-buttons">
        <a href="{% url 'comercios' %}" class="btn">Comercios</a>
        <a href="{% url 'novedades' %}" class="btn">Novedades</a>
        <a href="{% url 'registro' %}" class="btn">Regístrate</a>
        <a href="{% url 'login' %}" class="registered-link">Ingresar</a>
    </div>
</div>

<div class="hero">
    <img src="{% static 'imagenes/pagina_principal/puente4sur.jpg' %}" alt="Imagen de fondo" class="hero-image">
</div>


<div class="novedades">
    {% for novedad in novedades %}
        <div class="novedad">
            <h3>{{ novedad.titulo }}</h3>
            <p>{{ novedad.descripcion }}</p>
            {% if novedad.imagen %}
                <img src="{{ novedad.imagen.url }}" alt="{{ novedad.titulo }}">
            {% endif %}
        </div>
    {% empty %}
        <p>No hay novedades disponibles en este momento.</p>
    {% endfor %}
</div>
{% endblock %}
